html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Body Styles */
body {
    background-color: #f5f5f5;
}

/* Clear Fix */

/* add the class .group in html to floated elements */
.group::after {
    content: '';
    clear: both;
    display: block;
}

* html .group

.container {
    margin: auto;
    max-width: 1000px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'proxima-nova', sans-serif;
    color: #0f375a;
    padding-left: 1em;
}

header h1,
header h2,
header p {
    text-align: center;
}

/* so mmenu remains hidden until document loads */
#my-menu:not( .mm-menu ) {
    display: none;
}

main {
    margin-top: 5em;
    background-color: #34738e;
}

.round-image {
    border-radius: 50%;
    display: block;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 0;
}

#employment,
#contact {
    background-color: #0f375a;
    padding: 3em 1em 3em 0;
}



#employment h3,
#skills h3,
#awards h3,
#education h3,
#contact h3 {
    text-align: center;
}

#employment h4,
#skills h4,
#education h4 {
    margin-bottom: -1em;
}

#employment-content {
    background-color: #f5f5f5;
    margin-left: 1em;
    padding: 2em 1em 2em 0;
}

#awards,
#skills,
#education {
    color: #0f375a;
    background-color: #f5f5f5;
    margin: 1em;
    padding: 1em 0.325em 1em 0;
}

#awards ul li {
    padding-bottom: 1em;
}

#education p {
    margin-bottom: -0.625em;
}

#education p:last-of-type {
    margin-bottom: 2em;
}

#contact h3,
#contact h4,
#contact p {
    color: #f5f5f5;
}

footer ul li {
    display: inline;
    font-size: 0.5em;
}

footer {
    text-align: center;
    color: #0f375a;
}
