html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Body Styles */
body {
    background-color: #f5f5f5;
}

/* Clear Fix */

/* add the class .group in html to floated elements */
.group::after {
    content: '';
    clear: both;
    display: block;
}

* html .group

.container {
    margin: auto;
    max-width: 1000px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'proxima-nova', sans-serif;
    color: #0f375a;
    padding-left: 1em;
}

header h1,
header h2,
header p {
    text-align: center;
}

/* so mmenu remains hidden until document loads */
#my-menu:not( .mm-menu ) {
    display: none;
}


main {
    background-color: red;
}
