html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Body Styles */
body {
    background-color: #f5f5f5;
}

/* add this class to sections to control expansion in responsive design */
.container {
    margin: auto;
    max-width: 950px;
}

/* Clear Fix */

/* add the class="group" in html to floated elements */
.group::after {
    content: '';
    clear: both;
    display: block;
}

* html .group

/* h1-h6 and p styles */
h3,
h4,
h5,
h6,
p {
    font-family: 'proxima-nova', sans-serif;
    color: #0f375a;
}

h1 {
    font-size: 4em;
    margin-bottom: 0;
    font-family: 'proxima-nova', sans-serif;
    color: #0f375a;
}

h2 {
    font-family: 'verveine', sans-serif;
    color: #c38e59;
    font-size: 2.5em;
    margin-top: 0;
}

/* Header Styles */
header h1,
header h2,
header p {
    text-align: center;
}


header p {
    padding-bottom: 2em;
}

/* classes for easier styling; NEW for me to do this! */
.center-text {
    text-align: center;
}

#headerimage {
    display: none;
}

.round-image {
    border-radius: 50%;
    display: block;
    margin: auto;
    border: solid 0.625em #c38e59;
}

.round-image:hover {
    box-shadow: 0.325em 0.325em #5e9ba6;
}

.logoflip {
    display: block;
    margin: auto;
}

.logoflip:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

@media (min-width: 750px) {
    #nameimage {
        float: left;
        width: 50%;
    }

    #headerimage {
        float: right;
        width: 50%;
        display: block;
        margin-top: 2.5em;
    }

    #headerimage img {
        border-top: solid 3em #c38e59;
        border-bottom: solid 3em #c38e59;
        border-left: solid 1em #c38e59;
        border-right: solid 1em #c38e59;
        width: 100%;
    }
}

/* Main Styles */
main h3 {
    font-size: 2.5em;
}

main h4 {
    font-size: 1.5em;
    padding-left: 0.5em;
}

main p {
    font-size: 1.25em;
    padding-left: 0.5em;
}

/* so mmenu remains hidden until document loads
#my-menu:not( .mm-menu ) {
    display: none;
}
*/

#menu-button {
    background-color: #34738e;
    color: #f5f5f5;
    border: none;
    outline: none;
    padding: 1em;
}

main {
    margin-top: 5em;
    background-color: #5e9ba6;
}

#employment,
#contact {
    background-color: #0f375a;
    padding: 3em 1em 3em 0;
}

#employment h3,
#skills h3,
#awards h3,
#education h3,
#contact h3 {
    text-align: center;
    color: #0f375a;
}

#employment h4,
#skills h4,
#education h4 {
    margin-bottom: 0;
}

#employment-content {
    background-color: #f5f5f5;
    padding: 2em 1em 2em 0;
    margin-left: 1em;
}

#awards,
#skills,
#education {
    color: #0f375a;
    background-color: #f5f5f5;
}

#skills {
    padding: 1em 0.325em 2.625em 0;
}

#education {
    padding: 1em 0.325em 1em 0;
}

@media (min-width: 890px) {
    #skills {
        padding: 1em 0.325em 0 0;
    }

    #education {
        padding: 1em 0.325em 0 0;
    }

    h1 {
        padding-top: 0.5em;
    }
}

#awardbox {
    background-color: #f5f5f5;
}

#awardpix img {
    width: 100%;
}

#awards ul {
    margin: auto;
}

#awards p {
    text-align: center;
}

#awards p:last-of-type {
    padding-bottom: 1em;
}

#awards h3 {
    margin: 0.625em 0 0.625em 0;
}

#education p {
    margin-bottom: -0.625em;
}

#education p:last-of-type {
    margin-bottom: 1em;
}

#brown-first {
    background-color: #c38e59;
}

#brown-first p {
    font-family: 'verveine', sans-serif;
    font-size: 3em;
    color: #f5f5f5;
    padding: 0;
    margin: 0.25em;
}

#image-carousel {
    display: none;
}

@media (min-width: 750px) {

    #brown-first {
        display: none;
    }

    #skills {
        float: left;
        width: 50%;
    }

    #education {
        float: right;
        width: 50%;
        padding-left: 0.0625em;
        background-color: #34738e;
    }

    #education h3,
    #education h4,
    #education p {
        color: #f5f5f5;
    }

    #image-carousel,
    #awardpix {
        display: block;
    }

    #awardpix {
        float: left;
        width: 50%;
    }

    #awards {
        float: right;
        width: 50%;
    }
}

#contact h3 {
    color: #f5f5f5;
    margin: 0;
}

#contact ul li {
    display: inline-block;
    padding-right: 3em;
}

#scrollUp {
    bottom: 1em;
    right: 1em;
    padding: 0.5em 1em;
    background: #c38e59;
    color: #f5f5f5;
    text-decoration: none;
}

footer {
    color: #0f375a;
    padding-bottom: 3em;
}
