html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Clear Fix */

/* add the class .group in html to floated elements */
.group::after {
    content: '';
    clear: both;
    display: block;
}

* html .group

/* Body Styles */
body {
    background-color: #fafafa;
}

.container {
    margin: auto;
    max-width: 1000px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'proxima-nova', sans-serif;
    color: #0f375a;
}

header h1,
h2,
p {
    text-align: center;
}
